In [9]:
import pandas as pd
path = "../example/cali_factor/ATR2019.csv"
df = pd.read_csv(path)
df

   band_wv  fac_value
0      400   71.82168
1      450   55.99082
2      500   64.02952
3      600   70.84343
4      675   79.54338
5      810  104.86160
6     1000  168.29550
7     1550  457.17890

In [10]:
df.rename_axis("OK")

    band_wv  fac_value
OK
0       400   71.82168
1       450   55.99082
2       500   64.02952
3       600   70.84343
4       675   79.54338
5       810  104.86160
6      1000  168.29550
7      1550  457.17890

In [11]:
df2 = pd.read_csv("../example/BRDF/BRDF_Model_Summer.csv")
df2

      wavelength     fiso     fvol     fgeo
0            350  0.10836  0.08303  0.00142
1            351  0.10880  0.08334  0.00147
2            352  0.10926  0.08353  0.00157
3            353  0.10969  0.08365  0.00166
4            354  0.11014  0.08397  0.00174
...          ...      ...      ...      ...
2146        2496  0.23956  0.18867  0.01159
2147        2497  0.23956  0.18867  0.01159
2148        2498  0.23956  0.18867  0.01159
2149        2499  0.23956  0.18867  0.01159
2150        2500  0.23956  0.18867  0.01159

[2151 rows x 4 columns]

In [12]:
df2.columns

Index(['wavelength', 'fiso', 'fvol', 'fgeo'], dtype='object')

In [13]:
list(df2.columns)

['wavelength', 'fiso', 'fvol', 'fgeo']

In [17]:
table_name = "ReferenceReflectance"
df3 = pd.read_csv("../example/Ref/ReferenceReflectance.csv")
df3

      wavelength  201908271545ATR00  201908311341ATR01  201908311347ATR02
0            350            0.09463            0.09508            0.09488
1            351            0.09488            0.09546            0.09514
2            352            0.09499            0.09566            0.09534
3            353            0.09538            0.09601            0.09574
4            354            0.09562            0.09620            0.09590
...          ...                ...                ...                ...
2146        2496            0.26775            0.25251            0.24055
2147        2497            0.26365            0.26273            0.23896
2148        2498            0.27410            0.27015            0.23972
2149        2499            0.29500            0.27780            0.23595
2150        2500            0.29140            0.28551            0.23027

[2151 rows x 4 columns]

In [23]:
sql_exp = "UPDATE General.ReferenceReflectance SET (%s) =" % "col"+ df3["wavelength"]

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U47'), dtype('<U47')) -> dtype('<U47')