In [3]:
import pandas as pd
path = "../example/cali_factor/ATR2019.csv"
df = pd.read_csv(path)
df

   band_wv  fac_value
0      400   71.82168
1      450   55.99082
2      500   64.02952
3      600   70.84343
4      675   79.54338
5      810  104.86160
6     1000  168.29550
7     1550  457.17890

In [4]:
df.rename_axis("OK")

    band_wv  fac_value
OK
0       400   71.82168
1       450   55.99082
2       500   64.02952
3       600   70.84343
4       675   79.54338
5       810  104.86160
6      1000  168.29550
7      1550  457.17890